/node_modules
/tool/nginx-1.11.9/logs/access.log
/tool/nginx-1.11.9/logs/error.log
/tool/nginx-1.11.9/logs/nginx.pid
/tool/nginx-1.11.9/temp/fastcgi_temp
/tool/nginx-1.11.9/temp/proxy_temp
/tool/nginx-1.11.9/temp/scgi_temp
/tool/nginx-1.11.9/temp/uwsgi_temp
/tool/nginx-1.11.9/temp/client_body_temp
