@media (min-width: 992px) {
    html,
    body {
        height: 100%;
        box-sizing: border-box;
    }
    body {
        padding-top: 80px;
    }
    .container,
    .row,
    .col-md-4,
    .col-md-8 {
        height: 100%;
    }
}

@media (max-width: 992px) {
    body {
        padding-top: 0;
    }
}

.navbar.navbar-inner .container {
    h1,
    p,
    a {
        display: inline-block;
        margin-right: 20px;
    }
    a {
        height: 24px;
        line-height: 24px;
        img {
            display: none;
        }
    }
}

.content {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    iframe {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        @media (min-width: 992px) {
            height: 100%;
        }
        background-color: #FFF;
    }
}

#header {
    position: relative;
    left: 0;
    color: #666;
    @media (min-width: 992px) {
        height: 60px;
        line-height: 30px;
        h1 {
            float: left;
        }
    }
    .items {
        @media (min-width: 992px) {
            height: 70px;
            line-height: 70px;
        }
        padding: 5px;
        box-sizing: border-box;
        small {
            margin-left: 10px;
            display: block;
            @media (min-width: 992px) {
                float: left;
            }
            color: #888;
        }
        .osc_star_widget,
        .osc_fork_widget,
        .top-nav-item {
            float: left;
            margin: 0 5px;
            a {
                font-size: 14px;
                text-decoration: none;
                margin-left: 5px;
                border-radius: 5px;
                padding: 0 6px;
                font-weight: normal;
                line-height: 28px;
                height: 28px;
                display: inline-block;
                border: none;
                color: #08c;
                &:hover,
                &:not([href]) {
                    background-color: #EEE;
                }
                img {
                    display: none;
                }
            }
        }
        .osc_star_widget,
        .osc_fork_widget {
            a {
                position: relative;
                &:after {
                    content: ' ';
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #ec6d6d;
                    box-shadow: rgba(0, 0, 0, .2) 1px 1px;
                }
                .star-content,
                .fork-content {
                    box-shadow: none;
                    width: auto;
                    height: auto;
                    font-weight: bolder;
                    display: inline-block;
                    .left-content,
                    .right-content {
                        height: auto;
                        width: auto;
                        float: none;
                        display: inline-block;
                    }
                    .left-content {
                        .img-content {
                            display: none;
                        }
                        .star-name,
                        .fork-name {
                            line-height: inherit;
                        }
                    }
                    .right-content {
                        border-left: none;
                    }
                }
            }
        }
    }
}

.duoshuobar {
    display: block;
    background-color: rgba(10, 10, 10, .1);
    color: #333;
    border-radius: 4px;
    border:1px solid rgba(10, 10, 10, .2);
    box-shadow: rgba(0, 0, 0, .1) 1px 1px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: fixed;
    bottom: 20%;
    right: 8px;
    font-size: larger;
    text-decoration: none;
    transition-property: background-color color;
    transition-duration: 300ms;
    &:hover {
        background-color: rgba(10, 10, 10, .7);
        color: #FFF;
        text-decoration: none;
    }
}